# Εξαίρεση του φακέλου του virtual environment
venv/

# Εξαίρεση του φακέλου του PyCharm
.idea/

# Εξαίρεση του φακέλου __pycache__
__pycache__/

# Εξαίρεση αρχείων που σχετίζονται με το λειτουργικό σύστημα
*.DS_Store
Thumbs.db

# Εξαίρεση αρχείων logs
*.log